body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f8;
    margin: 0;
    padding: 20px;
    color: #333;
  }
  
  h1 {
    color: #2c3e50;
    text-align: center;
  }
  
  .container {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  button {
    background-color: #27ae60; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #219653; /* Verde escuro */
    transform: translateY(-2px);
  }
  
  .google-login {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  p {
    text-align: center;
  }
  
  .card {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  